*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #63d5ec;
    font-size: 1em;
}
.container{
    height: 100vh;
    background: #202020;
    color: #fff;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px;
    max-width: 1024px;
    margin: 0 auto;
}
.nav ul {
    display: flex;
    justify-content: space-between;
}
.nav li{
    position: relative;
    margin: 10px;
    padding: 10px 30px;
    /* background: #142453;
    border-radius: 10px; */
}
.nav li:before,
.nav li:after{
    content:"";
    position: absolute;
    inset: 0;
    transition: .6s ease-in-out;
}
/* .nav li:before {
    border-left: 1px solid #63d5ec;
    border-right: 1px solid #63d5ec;
    transform: scaleY(0);
} */
.nav li:after {
    /* border-top: 1px solid #63d5ec; */
    border-bottom: 1px solid #63d5ec;
    transform: scaleX(0);
}
/* .nav li:hover:before{
    transform: scaleY(1);
} */
.nav li:hover:after{
    transform: scaleX(.7);
}
.nav li a {
    color: #Fff;
}
main{
    height: 65vh;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .block {
    color: #000;
}
.block-content {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.block-content .block{
    padding: 10px;
    position: relative;
}
.block .icons-main{
    position: relative;
    text-align: center;
    width: 600px;
    display: flex;
    justify-content: space-evenly;
}
.icons-main a {
    display: inline-block;
    color: #f0f;
    font-size: 2em;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    margin: 0 16px;
    position: relative;
}
.icons-main a:before,
.icons-main a:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: 0.4s;
}
.block .icons-main a:hover:before{
    border-left: 4px solid #63d5ec;
    border-right: 4px solid #63d5ec;
    /* transform: skewY(20deg); */
    animation: rotate 1s linear infinite alternate;
}
.block .icons-main a:hover:after{
    border-top: 4px solid #63d5ec;
    border-bottom: 4px solid #63d5ec;
    /* transform: skewX(-20deg); */
    animation: rotate 1s linear infinite alternate;
}
@keyframes rotate {
    from {
        transform: skew(20deg);
    }
    to {
        transform: skew(-20deg);
    }
}
.footer{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    max-width: 1024px;
    margin: 0 auto;

}
.redes a{
    color: #fff;
    margin-right: 5px;
}

.copy{
    text-align: center;
    background: #2b2b2b;
    color: #f2f2f2;
    font-weight: 600;
    font-size: 1em;
    padding: 7px
}
.svgs {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}
svg {
    width: 200px;
    height: 300px;
}
/* path {
    animation: dash 5s linear forwards;
}

@keyframes dash {
    0% {
        stroke-dasharray: 140%;
        stroke-dashoffset: 140%;
    }
    60% {
        stroke-dasharray: 14%;
        stroke-dashoffset: 14%;
    }
    100% {
        stroke-dasharray: 0%;
        stroke-dashoffset: 0%;
    }
} */


path {
    /* stroke: #FFC300; */
    stroke-width: 2px;
    stroke-dashoffset: -2000;
    stroke-dasharray: 2000;
    animation: monkey 3s forwards;
}

@keyframes monkey {
    0% {
      stroke-dashoffset: -2000;
    }
    100% {
    stroke-dashoffset:0;
    }
  }